body{
    background-color: aquamarine;
    margin: auto;
    padding-top: 0%;
}

h1{
    color: black;
    text-align: end;
    font-family: 'Courier New';
    font-weight: 200;
    font-style: italic;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exemplo de Site Responsivo</title>
</head>
<body>
  <!-- Conteúdo da página aqui -->
</body>
</html>
